<h3>Version breakdowns</h3>
<%= render "charts", charts: @version_charts %>

<h3>Traffic Comparisons</h3>
<%= render "charts", charts: @comparison_charts %>

<h3>Traffic Totals</h3>
<div class="chart-container" tabindex="0">
  <div class="chart-heading hidden">
    <span><strong>Total Requests</strong></span>
    <%= content_tag :div, class: "ruby-total-ranges" do %>
      <%= link_to "2w", "/versions/ruby?total=true&range=2weeks", remote: true, tabindex: 0, class: "2weeks" %>
      <%= link_to "1m", "/versions/ruby?total=true&range=1month", remote: true, tabindex: 0, class: "1month" %>
      <%= link_to "3m", "/versions/ruby?total=true&range=3months", remote: true, tabindex: 0, class: "3months active" %>
      <%= link_to "YTD", "/versions/ruby?total=true&range=1year", remote: true, tabindex: 0, class: "1year" %>
    <%end %>
  </div>
  <%= content_tag :div, id: "ruby-total" do %>
  <% end %>
</div>

<script>
  <% @version_charts.merge(@comparison_charts).each do |name, path| %>
      <%= render partial: "chart", locals: {path: path}, handlers: [:erb], formats: [:js] %>
  <% end %>
  <%= render partial: "totals", locals: {key: "ruby"}, handlers: [:erb], formats: [:js] %>
</script>
