<h1>The Ruby Ecosystem</h1>
<h3>as of <%= @latest.to_s(:long) %></h3>

<% @charts.each do |name, key| %>
  <p><%= h name %>, <%= h key %></p>
  <%= content_tag :div, id: "#{key}-total" do end %>
  <%= content_tag :div, id: "#{key}-graph" do end %>
<% end %>

<script>
  <% @charts.each do |name, key| %>
    new Rickshaw.Graph.Ajax({
      element: document.querySelector("#<%= key %>-total"),
      renderer: "bar",
      dataURL: "/stats/<%= CGI.escape(key) %>?total=true",
    });

    new Rickshaw.Graph.Ajax({
      element: document.querySelector("#<%= key %>-graph"),
      height: jQuery(window).height() - 250,
      renderer: "area",
      stroke: true,
      dataURL: "/stats/<%= CGI.escape(key) %>",
      onData: (d) => {
        let palette = new Rickshaw.Color.Palette({
          scheme: "spectrum14",
        })
        d.forEach(s => s.color = palette.color())
        return d
      },
      onComplete: function(transport) {
        var graph = transport.graph;
        var detail = new Rickshaw.Graph.HoverDetail({ graph: graph });
      }
    });
  <% end %>
</script>
