<h3>Version breakdowns</h3>
<p style="text-align:center;">
  The version graphs try to count each run of <code>gem install</code> or <code>bundle install</code> exactly one time. However, since each of those commands can trigger dozens or even hundreds of HTTP requests, these results are not necessarily accurate. After trying to keep only one entry per install command, we group each minor version together because graphing every patch version just makes a mess.
</p>
<%= render "charts", charts: @version_charts %>

<h3>Traffic Comparisons</h3>
<p style="text-align:center;">
  Group all traffic for relative comparison. In these graphs, "RubyGems" means <code>gem install</code> while "Bundler" means <code>bundle install</code>, and "CI" means Bundler found a value in the <code>CI</code> environment variable.
</p>
<%= render "charts", charts: @comparison_charts %>

<h3>Traffic Totals</h3>
<p style="text-align:center;">
  The count of requests whose logs were fully processed and counted on a given day. All other charts are percentages relative to the total, while this chart shows the absolute number of data points available on a given day.
</p>
<div class="chart-container" tabindex="0">
  <div class="chart-heading hidden">
    <span><strong>Total Requests</strong></span>
    <%= content_tag :div, class: "ruby-total-ranges" do %>
      <%= link_to "2w", "/versions/ruby?total=true&range=2weeks", remote: true, tabindex: 0, class: "2weeks" %>
      <%= link_to "1m", "/versions/ruby?total=true&range=1month", remote: true, tabindex: 0, class: "1month" %>
      <%= link_to "3m", "/versions/ruby?total=true&range=3months", remote: true, tabindex: 0, class: "3months active" %>
      <%= link_to "12m", "/versions/ruby?total=true&range=1year", remote: true, tabindex: 0, class: "1year" %>
    <%end %>
  </div>
  <%= content_tag :div, id: "ruby-total" do %>
  <% end %>
</div>

<script>
  <% @version_charts.merge(@comparison_charts).each do |name, path| %>
      <%= render partial: "chart", locals: {path: path}, handlers: [:erb], formats: [:js] %>
  <% end %>
  <%= render partial: "totals", locals: {key: "ruby"}, handlers: [:erb], formats: [:js] %>
</script>
