<!DOCTYPE html>
<html>
  <head>
    <title>RubyGems.org stats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <%= image_pack_tag "gem.svg" %>
      <h1>RubyGems.org stats</h1>
      <p>
        Logs produced by <a href="https://github.com/rubygems/rubygems.org">rubygems.org</a>,
        processed by <a href="https://github.com/rubytogether/kirby">kirby</a> and
        displayed by <a href="https://github.com/rubytogether/ecosystem">ecosystem</a>.
      </p>
      <p>
        Coded by <a href="https://github.com/indirect">@indirect</a>
        and <a href="https://github.com/sidk">@sidk</a>,
        hosted by <a href="https://rubytogether.org">Ruby Together</a>.
      </p>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
